
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
    background-color: green;
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
    
}
.background, .foreground{
    position: absolute;
    height: 100%;  
    width: 100%;
    z-index: -1; 
}